extends ../layout
block content
	script(src="/javascripts/controllers/providers.js", type="text/javascript")
	div(class="create_provider_contianer .col-md-12" ng-controller="providers" data-ng-init="load_provider();get_matching_fields();")
		form(name="create_provider", method="post")
			input(type="hidden", ng-model="provider_exists", name="provider_exists", value=provider_id)
			div.container-fluid
				h3 #{title}
				div.description
					p.lead
						| Provide the fields in each spreadsheet file that will be mapped into the royalties report.
					p
						| <strong>Note:</strong> Provide the column code for Excel (e.g. "A") or the column header without quotes for CSV/TXT (e.g. "Book Title" or "ISBN")

				hr
				div.row
					div(class="col-xs-4")
						div.form-group						
							label(for="provider-name")
								| Name of Provider
							input(type="text", class="form-control", name="provider-name",
							placeholder="e.g. Amazon, eBooks, etc.", ng-model="provider.name")
				div.row
					div(class="col-xs-4")
						div(class="form-group")
							label(for="matchSheet")
								| Worksheets to excluse, separated by comma (optional)
							input(type="text", class="form-control", name="excludeSheets" placeholder="sheet name or filename", ng-model="provider.excludeSheets")
						div(class="form-group")
							label(for="matchSheet")
								| Header Row Starts On
							input(type="text", class="form-control", name="headerRowStart" placeholder="Enter Number (1-50)", ng-model="provider.headerRowStart")
							| Leave this field blank unless the header row of the sheet is not the first row.
						div(class="form-group")
							label(for="matching-sheet")
								| Worksheet or Filename for Refunds (optional)
							input(type="text", class="form-control", name="refundSheet" placeholder="sheet name or filename", ng-model="provider.refundSheet")
						div(class="form-group")
							label(for="isbn-row")
							| ISBN or Matching Field(required)
						div(class="checkbox")								
							input(type="text", class="form-control", name="isbnCol" placeholder="col", ng-model="provider.isbnCol")
							//
								input(type="text", class="form-control", name="isbnSheet", placeholder="sheet", ng-model="provider.isbnSheet") 
							br
							label
								input(type='checkbox' class='form-checkbox' name="noIsbn" ng-model="provider.noIsbn")								
								| This provider lists no ISBN number.  To find product data, the field specified above can be matched to this field:
								select(class='form-control' name="isbnMatchField" ng-model="provider.isbnMatchField" ng-show="provider.noIsbn")
									option(ng-repeat="field in matching_fields" value="{{field.field_name}}"){{field.label}}</option>
				div.row
					div(class="col-xs-4")
						div(class="form-group")						
							label(for="qty-row")
								| Quantity
							div(class="")								
								input(type="text", class="form-control", name="quantityCol" placeholder="col",ng-model="provider.quantityCol")
								//
									input(type="text", class="form-control", name="isbn13Sheet", placeholder="sheet",ng-model="provider.isbn13Sheet")
				div.row
					div(class="col-xs-4")
						div(class="form-group")						
							label(for="isbn13-row")
								| Sale Price
							div(class="")								
								input(type="text", class="form-control", name="priceCol" placeholder="col",ng-model="provider.priceCol")
								//
									input(type="text", class="form-control", name="priceSheet", placeholder="sheet",ng-model="provider.priceSheet")
				div.row
					div(class="col-xs-4")
						div(class="form-group")						
							label(for="isbn13-row")
								| Funds Received (required if it exists) - Amount of currency received from Vendor
							div(class="")								
								input(type="text", class="form-control", name="fundsCol" placeholder="col",ng-model="provider.fundsCol")
								//
									input(type="text", class="form-control", name="priceSheet", placeholder="sheet",ng-model="provider.priceSheet")
				div.row
					div(class="col-xs-4")
						div(class="form-group")						
							label(for="cur-row")
								| Currency (USD, EUR, etc.)
							div(class="")								
								input(type="text", class="form-control", name="currencyCol" placeholder="col",ng-model="provider.currencyCol")
								//
									input(type="text", class="form-control", name="currencySheet", placeholder="sheet", ng-model="provider.currencySheet")
							div.checkbox
								label
									input(type="checkbox", class="form-checkbox", name="isbnSheetDataToggle", ng-model="provider.isbnSheetDataToggle") 
									| The "Sheet Name" contains the currency type
				div.row
					div(class="col-xs-4")
						div(class="form-group")						
							label(for="cur-row")
								| Author Name
							div(class="")								
								input(type="text", class="form-control", name="authorCol", placeholder="col", ng-model="provider.authorCol")
								//
									input(type="text", class="form-control", name="authorSheet", placeholder="sheet",, ng-model="provider.authorSheet")
				div.row
					div(class="col-xs-4")
						div(class="form-group")						
							label(for="cur-row")
								| Book Name (Title)
							div(class="")								
								input(type="text", class="form-control", name="bookCol" placeholder="col",, ng-model="provider.bookCol")
								//
									input(type="text", class="form-control", name="bookSheet", placeholder="sheet", ng-model="provider.bookSheet")
				div.row
					div(class="col-xs-4")
						div(class="form-group")						
							label(for="cur-row")
								| Royalty Calculation Method
								p
									input(type="radio", name="royalty_method", value="publisher_price", ng-model="provider.royalty_method")
									|  Publisher Price
								p
									input(type="radio", name="royalty_method", value="publisher_price_convert", ng-model="provider.royalty_method")
									|  Publisher Price Plus Currency Conversion
								p
									input(type="radio", name="royalty_method", value="print_method", ng-model="provider.royalty_method")
									|  Print Method
				div.row
					div(class="col-xs-4")
						div(class="form-group")						
							label(for="cur-row")
								| Parsing Options (optional)
								p
									input(type="checkbox", name="parse_as_text", ng-model="provider.parseAsText")
									|  Force Parsing as Text
								p
									input(type="checkbox", name="parse_as_text", ng-model="provider.parseAsUTF16")
									|  Parse As UTF-16
				div.row
					div(class="col-xs-12")
						div(class="form-group")
							button(type="button", ng-click="save_provider(provider)" class="btn btn-success")
								| Save Provider